label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 35%;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 40%;
  box-sizing: border-box;
  margin-right:50px;
  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}
.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 200px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}
li {
    float: left;
}

nav {
    width: 100%;
    background: #4863A0;
    border-right: none;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 1% 1% 1% 1%;
}

nav ul li {
    display: block;
    color: white;
    overflow: hidden;
    text-align: center;
    width:22%;
    text-decoration: none;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #15317E;
}

.navbar {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 100px;
	margin-left: 0px;
  width:100%;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 900px;
	height: 900px;
  grid-gap: 0.5cm;
	margin:auto;
}

.portpic{
	width:300px;
	height:300px;
}
.review {
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: #4863A0;
}
.bigheading{
	font-family:sans-serif;
	font-size:100px;
	text-align:center;
	font-style:italic;
  color:#4863A0;
}
#logo-holder {position:relative; width:300px; height:300px; /*dimensions of image*/}
#logo-holder .flip {width:300px; height:300px},
#logo-holder .text {transition: opacity 0.5s ease-in-out;}
#logo-holder .text {position:absolute; top:0; left:0; opacity:0;}

#logo-holder:hover .flip {opacity:0;}
#logo-holder:hover .text {opacity:1;}
footer {
	margin: auto;
	width:15%;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 30em;
    margin-right: 30em;
    border-style: inset;
    border-width: 1px;
} 
